.calendar_table {
  width: 100%;
  height: calc(100vh - 112px);
}
.calendar_weeks {
  height: 16.28%;
  width: 14.28%;
  vertical-align: top;
}

#calendar_notCurrentMonth {
  opacity: 0.4;
}

.calendar_weekdays {
    font-weight: bold;
    color: #111;
}
