.calendar {
  position: relative;
}
.calendar_table {
  width: 100%;
  height: calc(100vh - 112px);
}
.calendar_weeks {
  height: 16.28%;
  width: 14.28%;
  vertical-align: top;
}

#calendar_notCurrentMonth {
  opacity: 0.4;
}

.calendar_weekdays {
    font-weight: bold;
    color: #111;
}

.calendar_buttonAddEvents {
  display: block;
  text-align: center;
  height: 55px;
  width: 55px;
  line-height: 55px;
  color: #fff;
  font-size: 30px;;
  background-color: #343a40;
  border-radius: 50%;

  box-shadow: 0 6px 10px 0 #0000001a, 0 1px 18px 0 #0000001a, 0 3px 5px -1px #0003;
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
  transition: transform 0.3s;
}

.calendar_buttonAddEvents:hover {
  transform: scale(1.2);
  text-decoration: none;
  color: #fff;
  
}


